# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.env/

# VS Code settings
.vscode/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore ALL files in data except .gitkeep
data/*
!data/.gitkeep

# System files
.DS_Store
Thumbs.db